<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>
    <link href="/pop/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/pop/webjars/jquery/jquery.min.js"></script>
    <script src="/pop/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/pop/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/pop/js/moment.js"></script>
    <script src="/pop/js/datatables.js"></script>
    <script src="/pop/js/datetime-moment.js"></script>
    <link href="/pop/css/style.css" rel="stylesheet"/>
    <link href="/pop/css/datatables.css" rel="stylesheet"/>

</head>

<body>

<!-- Navigation -->
<div class="container">
    <nav class="navbar  bg-dark navbar-expand-lg fixed-top navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Proof of Payment Report</a>
            <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarResponsive"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/pop">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pop/upload">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pop">Generate Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<a href="/">Go Home</a>

<script src="/pop/webjars/popper.js/umd/popper.min.js"></script>
<script src="/pop/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>