<form action="#" method="post" th:action="@{/pop/update/{id}(id=${user.id})}" th:object="${user}"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="name">Name</label>
    <input id="name" placeholder="Name" th:field="*{name}" type="text">
    <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
    <label for="email">Email</label>
    <input id="email" placeholder="Email" th:field="*{email}" type="text">
    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    <input type="submit" value="Update User">
</form>